*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Miniver", sans-serif;
    opacity:0;
    animation:fadeIn 0.6s ease forwards;
}

@keyframes fadeIn{
    to{ opacity:1; }
}

.navbar-container{
    background-color: #3b141c;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 40px;
}

.navbar-container a{
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    color:white;
    text-decoration:none;
    margin-left:20px;
    transition: all 0.3s ease;
}

.navbar-container a:hover{
    color: #f3961c;
}

.navbar-container .fw-bold{
    font-weight:bold;
}

.brand-logo{
    color:white;
    font-size:20px;
}

.main-banner{
    background: #3b141c;
    min-height:100vh;
    display:flex;
    align-items:center;
    padding:0 60px;
}

.banner-content{
    width:60%;
    color:white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner-content h1{
    color: #f3961c;
    font-size: 6rem;
    margin-bottom: 60px;
}

.banner-content h3{
    font-family: 'Comfortaa', cursive;
    font-size: 2rem;
    margin-bottom: 80px;
    font-weight: lighter;
}

.banner-content p{
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}

.action-buttons{
    display: flex;
    gap: 150px;
    margin-top: 70px;
    justify-content: center;
}

.action-buttons a{
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #f3961c;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.action-buttons a:hover{
    background-color: #be730f;
}

.banner-image{
    width:40%;
}

.banner-image img{
    width: 111%;
}

.product-menu{
    font-family: 'Archivo Narrow', sans-serif;
    padding: 60px;
    text-align:center;
    background:white;
}

.product-menu h2{
    color: #3b141c;
    font-size: 30px;
    margin-bottom:3px;
    font-weight: bold;
}

.section-divider{
    width: 120px;
    height:4px;
    background-color: #f3961c;
    margin:0 auto 40px auto;
    border-radius:5px;
}

.items-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 120px;
}

.item-card{
    font-family: 'Archivo Narrow', sans-serif;
    width: 320px;
    height: 320px;
    background-color: #3b141c;
    border-radius: 30px;
    padding: 50px;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
}

.item-card img{
    width:100%;
    height:120px;
    object-fit:contain;
    border-radius:12px;
    margin-bottom:15px;
}

.item-card p{
    font-size:14px;
    margin:10px 0;
}

.card-actions{
    display:flex;
    gap: 10px;
    justify-content:center;
}

.card-actions button{
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease;
}

.card-actions button:hover{
    background-color: #be730f;
}

.primary-button{
    font-family: 'Archivo Narrow', sans-serif;
    background-color: #f3961c;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease;
}

.primary-button:hover{
    background-color: #be730f;
}

.photo-gallery{
    padding:60px;
    text-align:center;
    background:white;
}

.photo-gallery h2{
    font-family: 'Archivo Narrow', sans-serif;
    color: #3b141c;
    margin-bottom:3px;
    font-weight: bold;
    font-size: 30px;
}

.gallery-layout{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.image-wrapper{
    overflow:hidden;
    border-radius:14px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
}

.image-wrapper img{
    display: block;
    width: 100%;
    height:220px;
    background-position: center;
    object-fit:cover;
    transition:0.3s;
}

.image-wrapper:hover img{
    transform:scale(1.05);
}

.contact-section{
    font-family: 'Archivo Narrow', sans-serif;
    padding:80px 100px;
    background:white;
    text-align:center;
}

.contact-section h2{
    color: #3b141c;
    font-size: 20px;
    margin-bottom:3px;
    font-weight: bold;
}

.contact-wrapper{
    display:flex;
    gap:60px;
    align-items:flex-start;
}

.contact-details{
    flex:1;
    display:flex;
    flex-direction:column;
}

.brand-text{
    margin-top:25px;
    font-size:26px;
    color: #f3961c;
}

.info-box{
    flex:1;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
}

.info-box p{
    margin-bottom:14px;
    color: #252525;
}

.brand-text{
    font-family: "miniver", sans-serif;
    margin-top:30px;
    font-size:26px;
    color: #f3961c;
    text-shadow: 0 4px 1px rgba(0, 0, 0, 0.15);
}

.form-wrapper{
    flex:1;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.form-wrapper input,
.form-wrapper textarea{
    padding:14px;
    border-radius:12px;
    border:1px solid #cccccc;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
    font-family: 'Archivo Narrow', sans-serif;
}

.form-wrapper textarea{
    height:140px;
    resize:none;
}

.dark-button{
    font-family: 'Archivo Narrow', sans-serif;
    width: 160px;
    background-color: #3b141c;
    color:white;
    padding:14px;
    border:none;
    border-radius:30px;
    cursor:pointer;
    font-weight: bold;
    align-self: center;
    transition: all 0.3s ease;
}

.dark-button:hover{
    background-color: #18080b;
}

.shopping-cart{
    font-family: 'Archivo Narrow', sans-serif;
    padding:30px 100px;
    background:white;
}

.cart-wrapper{
    display:flex;
    gap:60px;
}

.cart-details{
    flex:2;
}

.cart-details h2{
    text-align: center;
}

.subtitle-text{
    margin-bottom:25px;
    text-align: center;
}

.no-items-box{
    background:white;;
    padding:50px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
    text-align:center;
}

.no-items-box .large-icon{
    font-size:90px;
    margin-bottom:20px;
    color: #cccccc;
}

.no-items-box h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.no-items-box p{
    margin-bottom: 20px;
}

.cart-summary{
    flex:1;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
    display:flex;
    flex-direction:column;
    gap:18px;
}

.order-summary p{
    display:flex;
    justify-content:space-between;
    color: #cccccc;
    font-weight: bold;
}

.summary-value{
    color: rgb(0, 209, 0);
}

.total-amount{
    font-weight:bold;
    font-size:20px;
    border: 2px solid #cccccc;
    padding: 10px;
    border-radius: 10px;
    margin:5px 0;
}

.flex-row{
    display:flex;
    gap:12px;
}

.cart-summary input{
    padding:12px;
    border-radius:10px;
    border: 2px solid #cccccc;
    font-family: 'Archivo Narrow', sans-serif;
}

.cart-summary .checkout-button{
    width:100%;
    color: white;
    background-color: #f3961c;
    border: none;
    padding: 12px 25px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.3s ease;
}

.cart-summary .checkout-button:hover{
    background-color: #be730f;
}

.additional-info{
    margin-top:15px;
    font-size:14px;
    color: #000000;
}

.authentication-section{
    display:flex;
    min-height:100vh;
    font-family: 'Archivo Narrow', sans-serif;
}

.auth-form-side{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
}

.auth-image-side{
    flex:1;
}

.auth-image-side img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.auth-box{
    background:white;
    padding:50px;
    border-radius:20px;
    width:400px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 1px 4px;
    display:flex;
    flex-direction:column;
    gap:18px;
    text-align:center;
}

.user-icon{
    font-size:40px;
}

.auth-box input:not([type="checkbox"]){
    padding:12px;
    border-radius:10px;
    border:1px solid #252525;
    font-family: 'Archivo Narrow', sans-serif;
    width: 100%;
}

.auth-options{
    display:flex;
    justify-content:space-between;
    font-size:14px;
}

.text-link{
    color: #1c80f3;
    text-decoration:none;
}

.w-100{
    width:100%;
}

.separator-line{
    display:flex;
    align-items:center;
    text-align:center;
    font-size:14px;
    color: #252525;
    margin:15px 0;
    font-weight: bold;
}

.separator-line::before,
.separator-line::after{
    content:"";
    flex:1;
    height:1px;
    background: #252525;
}

.separator-line::before{
    margin-right:10px;
}

.separator-line::after{
    margin-left:10px;
}

.social-login{
    display:flex;
    gap:10px;
}

.social-button{
    flex:1;
    padding:10px;
    border-radius:8px;
    border:1px solid #252525;
    background:white;
    cursor:pointer;
    transition: all 0.3s ease;
}

.social-button:hover{
    background-color: #3b141c;
    color: white;
}

.footer-text{
    font-size:14px;
    font-weight: bold;
}

.security-text{
    font-size: 10px;
    font-weight: bold;
}

.two-columns{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:12px;
}

.terms-text{
    font-size: 12px;
}

.terms-text span{
    color: #1c4ef3;
}

@media (max-width: 1024px){
    .main-banner{
        flex-direction: column;
        text-align:center;
    }

    .banner-content,
    .banner-image{
        width:100%;
    }

    .banner-content h1{
        font-size:4rem;
        margin-bottom:30px;
    }

    .banner-content h3{
        margin-bottom:40px;
    }

    .action-buttons{
        gap:40px;
        flex-wrap:wrap;
    }

    .banner-image img{
        width:80%;
        margin:40px auto 0 auto;
        display:block;
    }

    .items-grid{
        grid-template-columns: repeat(2,1fr);
    }

    .gallery-layout{
        grid-template-columns: repeat(2,1fr);
    }

    .contact-wrapper{
        flex-direction:column;
        gap:40px;
    }

    .shopping-cart{
        padding:40px;
    }

    .cart-wrapper{
        flex-direction:column;
    }

    .authentication-section{
        flex-direction:column;
    }

    .auth-image-side{
        display:none;
    }
}


@media (max-width: 768px){
    .navbar-container{
        flex-direction:column;
        gap:15px;
        padding:20px;
        text-align:center;
    }

    .navbar-container a{
        margin-left:0;
    }

    .main-banner{
        padding:40px 20px;
    }

    .banner-content h1{
        font-size:2.8rem;
    }

    .banner-content h3{
        font-size:1.3rem;
    }

    .banner-content p{
        font-size:16px;
    }

    .action-buttons{
        flex-direction:column;
        gap:20px;
        margin-top:40px;
    }

    .action-buttons a{
        font-size:16px;
        padding:10px 20px;
    }

    .product-menu{
        padding:40px 20px;
    }

    .items-grid{
        grid-template-columns:1fr;
    }

    .item-card{
        padding:30px;
    }

    .gallery-layout{
        grid-template-columns:1fr;
    }

    .image-wrapper img{
        height:200px;
    }

    .contact-section{
        padding:40px 20px;
    }

    .contact-wrapper{
        flex-direction:column;
        align-items:center;
        text-align:center;
        width:100%;
    }

    .contact-details,
    .info-box,
    .form-wrapper{
        width:100%;
        max-width:500px;
    }

    .info-box{
        padding:30px;
    }

    .dark-button{
        width:100%;
    }

    .shopping-cart{
        padding:30px 20px;
    }

    .flex-row{
        flex-direction:column;
    }

    .cart-summary{
        padding:25px;
    }

    .auth-box{
        width:100%;
        max-width:350px;
        padding:30px;
    }

    .two-columns{
        grid-template-columns:1fr;
    }
}


@media (max-width: 480px){
    .banner-content h1{
        font-size:2.2rem;
    }

    .banner-content h3{
        font-size:1.1rem;
    }

    .brand-logo{
        font-size:16px;
    }

    .item-card{
        padding:20px;
    }

    .auth-box{
        max-width:300px;
    }
}
